@use "./mixins.scss" as m;
@use "./variables.scss" as v;

.btn {
  @include m.boton(v.$azul, #fff);

  &.btn-auth {
    @include m.boton(v.$azul, #fff);
    width: 50%;
    @include m.phone {
      width: 100%;
    }
  }

  &.btn-logout {
    @include m.boton(v.$rojo, #fff);
  }

  &.btn-lista {
    @include m.boton(v.$azul, #fff);
    font-size: 26px;
  }

  &.btn-volver {
    @include m.boton(v.$azulMarino, #fff);
  }

  &.btn-confirmar {
    @include m.boton(v.$verde, #fff);
  }
}
